CALENDAR_FEEDS=fz_o365=https://outlook.office365.com/owa/calendar/.../calendar.ics,wife_o365=https://outlook.office365.com/owa/calendar/.../calendar.ics,google_frank=https://calendar.google.com/calendar/ical/.../basic.ics

DB_HOST=10.10.0.10
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=your_password

WINDOW_PAST_DAYS=7
WINDOW_FUTURE_DAYS=90
